#shop-section {
    background: var(--section-backgound-color);
    color: var(--color-text);
}

.shop-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.shop-card.card {
    background-color: var(--card-backgound-color);
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.shop-info h3 {
    color: var(--color-text-heading);
    margin-top: 0;
}

.shop-info p {
    font-size: 0.9rem;
    color: var(--color-text-sub);
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .shop-grid {
        grid-template-columns: 1fr;
    }

    .shop-card img {
        height: 200px;
    }
}