.testimonial-section {
  background-image: url("../../assets/gear-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

/* Dark overlay */
.testimonial-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.testimonial-section>* {
  position: relative;
}

.testimonial-title {
  width: 100%;
  text-align: center;
  color: var(--color-accent);
}

.testimonial-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.testimonial-text {
  flex: 1;
}

.testimonial-image {
  height: 350px;
  width: auto;
  width: 450px;
  padding: 10px;
  border-radius: var(--radius-lg);
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: var(--radius-md);

}

.quote-mark {
  font-size: 6rem;
  color: var(--color-accent);
  position: absolute;
  left: -2.4rem;
  top: -2.4rem;
}

.author {
  font-weight: 600;
}

.stars {
  color: var(--color-accent);
  letter-spacing: 2px;
}

.testimonial-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

hr {
  background: var(--color-text-sub);
  border: none;
  height: 1px;
}

.testimonial-dots hr {
  width: 50%;
  border: none;
  height: 1px;
  background: var(--color-text-sub);
}

.testimonial-dots span {
  width: 8px;
  height: 8px;
  background: var(--color-text-sub);
  border-radius: 50%;
  cursor: pointer;
}

.testimonial-dots .active {
  background: var(--color-accent);
}

@media (max-width: 768px) {
  .testimonial-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .testimonial-image {
    justify-content: center;
  }

  .quote-mark {
    display: none;
  }

  blockquote p {
    max-width: 100%;
  }
}