.services-container{
    display:flex;
    flex-direction: row;;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: var(--section-backgound-color);
    width: clamp(20%, 300px, 100%);
    border-radius: var(--radius-lg);
}

.service-card img{
    aspect-ratio: 1/1;
    max-width: 300px;
    margin-bottom: 15px;
    border-radius: var(--radius-lg);
}