#our-services-section {
    display: grid;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card-wrapper {
    width: clamp(250px, 100%, 350px);
    min-width: 200px;
    flex: 1;
}

.service-card {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: var(--section-backgound-color);
    border-radius: var(--radius-lg);
}

.service-card .img-container {
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: cover;
    border-radius: var(--radius-md);
}

.service-card .img-container img {
    width: 100%;
    aspect-ratio: 1;
}

.section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .service-card .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
        width: 100%;
    }

}