.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.service-card {
    flex: 1 1 300px;
    padding: 20px;
    text-align: center;
    background-color: var(--section-backgound-color);
    width: 100%;
    max-width: 350px;
    border-radius: var(--radius-lg);
}

.service-card .img-container {
    aspect-ratio: 1;
    overflow: hidden;
    object-fit: cover;
}

.service-card .img-container img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
}

.section-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1rem;
    text-wrap: nowrap;
    flex-wrap: wrap;
}
