.about-section {
  display: flex;
}

/* TEXT */
.about-text-container {
  flex: 1;
  line-height: var(--leading-normal);
}

.about-text-container .about-text {
  text-align: start;
}

/* IMAGE */
.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: var(--radius-lg);
}

.about-text-container p {
  max-width: 100%;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .about-image-container img {
    max-width: 250px;
    border-radius: var(--radius-md);
  }

  .about-image-container {
    order: -1;
  }
}