.about-section {
  display: flex;
  justify-content: space-between;
}

/* TEXT */
.about-text-container {
  flex: 1;
}

/* IMAGE */
.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 4rem 1.5rem;
  }

  .about-text-container p {
    max-width: 100%;
  }

  .about-image-container {
    order: -1; /* image goes on top */
  }

  .about-image-container img {
    max-width: 100%;
  }
}