.about-section {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  max-width: 1200px;
}

/* TEXT */
.about-text-container {
  flex: 1;
}

/* IMAGE */
.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .about-text-container p {
    max-width: 100%;
  }

  .about-image-container {
    order: -1; /* image goes on top */
  }

  .about-image-container img {
    max-width: 100%;
  }
}

#hero-section .hero-text > * {
  opacity: 0;
  animation: fadeUp 0.9s ease forwards;
}

/* Stagger timing */
#hero-section .welcome {
  animation-delay: 0.2s;
}

#hero-section .name {
  animation-delay: 0.4s;
}

#hero-section .sub-name {
  animation-delay: 0.6s;
}

#hero-section .sub-caption {
  animation-delay: 0.8s;
}