#contact-section {
    border-top: 1px solid var(--color-text-sub);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards-container .card {
    flex: 1;
    background-color: var(--card-backgound-color);
    border-radius: var(--radius-md);
    padding: 2rem 2rem;
    overflow: hidden;
}

.cards-container .card .card-title-sub h3 {
    margin: 0;
}

.cards-container .card #card-contacts-list p {
    color: var(--color-text);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.cards-container .card #card-contacts-list svg {
    height: 20px;
    width: 20px;
}

.cards-container .card #card-contacts-list .socials-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.cards-container .card #card-contacts-list .socials-list img {
    height: 32px;
}

.cards-container .card #card-contacts-list .socials-list img:hover {
    opacity: 0.8;
}

.map-container {
    width: 40%;
    border-radius: var(--radius-lg);
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .map-container {
        width: 100%;
    }
}