#contact-section {
    background-image: url("../../assets/team.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

/* Dark overlay */
#contact-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.92);
    z-index: 0;
}
#contact-section>*{
    position: relative;
}


.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact-container .contact-div {
    flex: 1;
    background-color: var(--card-backgound-color);
    border-radius: var(--radius-md);
    padding: 2rem 2rem;
    overflow: hidden;
}

.contact-container .contact-div .card-title-sub h3 {
    margin: 0;
}

.contact-container .contact-div #card-contacts-list p {
    color: var(--color-text);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.contact-container .contact-div #card-contacts-list svg {
    height: 20px;
    width: 20px;
}

.contact-container .contact-div #card-contacts-list .socials-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.contact-container .contact-div #card-contacts-list .socials-list img {
    height: 32px;
}

.contact-container .contact-div #card-contacts-list .socials-list img:hover {
    opacity: 0.8;
}

.map-container {
    width: 40%;
    border-radius: var(--radius-lg);
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .map-container {
        width: 100%;
    }
}