#navbar {
    position: fixed;
    width: 100%;
    background: var(--section-backgound-color);
    z-index: var(--z-sticky);
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 0 2rem;
}

#navbar img {
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#navbar .nav-links {
    display: flex;
    position: relative;
    gap: 20px;
}

#navbar .nav-links a {
    height: var(--navbar-height);
    font-weight: 600;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
}

#navbar .nav-links a:hover {
    color: var(--color-accent);
}

.call-to-action-container{
    display: flex;
}