.footer {
    background: var(--main-backgound-color);
    color: var(--color-text);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    animation: fadeUp 0.8s ease forwards;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 4%;
    gap: 2rem;
}
.footer-brand .footer-img-container {
    width: 100%;
    text-align: center;
}
.footer-brand img {
    width: 90px;
    margin-bottom: 1rem;
}

.footer-brand p {
    font-size: 0.9rem;
    color: var(--color-text-sub);
    line-height: 1.6;
}

.footer-links h4,
.footer-contact h4 {
    color: var(--color-text-heading);
    margin-bottom: 1rem;
    position: relative;
}

.footer-links h4::after,
.footer-contact h4::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 0.5rem;
    background: var(--gradient-gold);
}

.footer-links a {
    display: block;
    color: var(--color-text);
    margin-bottom: 0.6rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.footer-links a:hover {
    color: var(--color-accent);
    transform: translateX(4px);
}

.footer-contact p {
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
    color: var(--color-text-sub);
}

.footer-bottom {
    text-align: center;
    color: var(--color-text-sub);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.footer-bottom p{
    font-size: 0.8rem;

}

.footer .socials-list {
    display: flex;
    gap: 0.5rem;
}

.footer .socials-list img {
    height: 32px;
    opacity: 0.4;
}

@media screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-links h4::after,
    .footer-contact h4::after {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links a:hover {
        transform: none;
    }
}