.gold-text {
  background: var(--gradient-gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
}

.gold-btn {
  background: var(--button-gold);
  color: var(--main-backgound-color);
  font-weight: 600;
  border: 1px solid var(--color-secondary);
}

.gold-btn:hover {
  border-color: var(--color-text);
  color: var(--section-backgound-color);
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: var(--section-backgound-color);
  border-radius: var(--radius-lg);
  padding: 0.2rem 1.2rem;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;

}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  border-top: 1.5px solid var(--color-accent);
}

.card .img-container {
  aspect-ratio: 1;
  overflow: hidden;
  margin: 1rem 0;
  object-fit: cover;
  border-radius: var(--radius-md);
}

.card .img-container img {
  width: 100%;
  aspect-ratio: 1;
}

.text-cta {
  width: 100%;
  text-align: end;
  opacity: 0.5;
}

.text-cta:hover {
  color: var(--color-text)
}

.a-link {
  text-decoration: underline !important;
  font-weight: 300;
  font-size: 0.9em;
  color: var(--color-text-sub);
}

.section-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-wrap: nowrap;
  flex-wrap: wrap;
}

.section-title-container .title-sub-container {
  text-wrap: wrap;
}

/*----------------------------------
---------- ANIMATIONS --------------
----------------------------------*/
.a-link:hover {
  color: var(--color-text);
}

.text-sub {
  color: var(--color-text-sub) !important;
}

.animate,
.delay-animate {
  opacity: 0;
}

.fade-up.visible {
  animation: fadeUp 0.7s ease forwards;
}

.slide-left.visible {
  animation: slideLeft 0.7s ease forwards;
}

.delay-animate.visible {
  animation-delay: var(--delay, 0s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(24px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navSlideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLift {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}