.gold-text {
  background: var(--gradient-gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
}

.gold-btn {
  background: var(--button-gold);
  color: var(--main-backgound-color);
  font-weight: 600;
  border: 1px solid var(--color-secondary);
}

.gold-btn:hover {
  border-color: var(--color-text);
  color: var(--section-backgound-color);
}

.card {
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.a-link {
  text-decoration: underline !important;
  font-weight: 300;
  font-size: 0.9em;
  color: var(--color-text-sub);
}

.a-link:hover {
  color: var(--color-text);
}

.text-sub {
  color: var(--color-text-sub) !important;
}

.animate,
.delay-animate {
  opacity: 0;
}

.fade-up.visible {
  animation: fadeUp 0.7s ease forwards;
}

.slide-left.visible {
  animation: slideLeft 0.7s ease forwards;
}

.delay-animate.visible{
  animation-delay: 0.5s;
}

.delay-2.visible {
  animation-delay: 0.65s;
}

.delay-3.visible {
  animation-delay: 0.80s;
}

.delay-4.visible {
  animation-delay: 0.95s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(24px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navSlideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLift {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}