.gold-text {
  background: var(--gradient-gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
}

.gold-btn {
  background: var(--button-gold);
  color: var(--main-backgound-color);
  font-weight: 700;
  border: 1px solid var(--color-secondary);

}

.gold-btn:hover {
  border-color: var(--color-text);
  color: var(--section-backgound-color);
}

.text-sub {
  color: var(--color-text-sub) !important;
}

.animate {
  opacity: 0;
}

.animate.visible{
  opacity: 1;
}

.fade-up.visible {
  animation: fadeUp 0.9s ease-in;
}

.slide-left.visible {
  animation: slideLeft 0.9s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(24px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes navSlideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLift {
  from {
    opacity: 0;
    transform: translateY(18px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(32px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}